<div class="project pull-left">
    <select class="form-control pull-left" ng-change="change(project_id._id)" ng-options="val.name for val in list" ng-model="project_id">
        <option value="">--请选择--</option>
    </select>
</div>


<div class="modal fade smallbox" id="edit_project" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">编辑项目</h4>
            </div>
            <div class="modal-body">
                <form>
                    <ul class="verticalList">
                        <li>
                            <div class="form-group">
                                <label class="col-md-4 clearPadding">项目名称:</label>
                                <div class="col-md-8 clearPadding">
                                    <input type="text" class="form-control" ng-model="create_project.name" required>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="btngroup">
                        <button class="btn btn-primary" ng-click="editProject()">确认</button>
                        <button class="btn btn-danger" data-dismiss="modal">取消</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade smallbox" id="create_project" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">新建项目</h4>
            </div>
            <div class="modal-body">
                <form>
                    <ul class="verticalList">
                        <li>
                            <div class="form-group">
                                <label class="col-md-4 clearPadding">项目名称:</label>
                                <div class="col-md-8 clearPadding">
                                    <input type="text" class="form-control" ng-model="create_project.name" required>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="btngroup">
                        <button class="btn btn-primary" ng-click="createProject()">确认</button>
                        <button class="btn btn-danger" data-dismiss="modal">取消</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<div class="modal fade bs-example-modal-lg" id="projectList" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">项目管理</h4>
            </div>
            <div class="modal-body">
                <div class="list-block">
                    <div class="list-panel">
                        <div class="is-scrolled">
                            <table class="table table-striped text-center table-hover list-table scrollTable">
                                <thead>
                                <tr>
                                    <td>项目名称</td>
                                    <td>创建时间</td>
                                    <td>操作</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="val in list">
                                    <td>{{val.name}}</td>
                                    <td>{{val.__CREATE_TIME__}}</td>
                                    <td><a ng-click="showEditProject(val)">编辑</a></td>
                                    <!--<td><a ng-click="deleteProject(val._id)">删除</a></td>-->
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
                <button id="buttonClose" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>