<div class="user pull-right">
    <div class="dropdown">
        <div class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
            <img class="profile_picture" src="component/userinfo/images/photo.jpg" alt="">
            <span class="caret"></span>
        </div>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation"><a href="#statistics" tabindex="-1">存储空间统计</a></li>
            <li role="presentation"><a href="#profile" tabindex="-1">慢查询统计</a></li>
            <li role="presentation" ><a role="menuitem" tabindex="-1" ng-click="clickNewProject()">新建项目</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1"  ng-click="clickProjectManger()">项目管理</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="signOut()">退出登录</a></li>
        </ul>
    </div>
</div>
